@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff) format ("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff2) format ("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff) format ("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff2) format ("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
}

body {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 0 20px 0 #000000;
}

/**********************

         HEADER

*********************/

.header {
  min-height: 565px;
  background-image: url(../img/index-background-border.png), url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-position: 50% bottom, 100% top;
}

.navigation-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  background-color: white;
  list-style: none;
}

.nav-item {
  width: 240px;
  line-height: 56px;
  font-weight: bold;
  text-align: center;
  background: white;
}

.nav-item:nth-child(2) {
  margin-right: 240px;
}

.link {
  display: block;
}

.header-logo {
  background-image: url("../img/header-logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 138px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

/***********************

         MAIN

***************************/

.what-is-sedona {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0;
}

.index-title {
  display: block;
  text-align: center;
}

.advertising {
  width: 101%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card:nth-of-type(1), .card:nth-of-type(5) {
  background-color: #81b3d2;
}

.card:nth-of-type(6), .card:nth-of-type(7), .card:nth-of-type(8) {
  background-color: #eeeeee;
}

.illustration {
  width: 66%;
}

.title {
  margin: 30px 0;
}

.reason {
  margin: 50px 0 30px;
}

.icon {
  margin-top: 60px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.house {
  background-image: url("../img/house-icon.svg");
}

.burger {
  background-image: url("../img/burger-icon.svg");
}

.gift {
  background-image: url("../img/gift-icon.svg");
}

.reserve-btn {
  font-weight: bold;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  padding: 5px 18px;
}

.reserve-btn:hover {
  background-color: #604e43;
}

.reserve-btn:active {
  background-color: #503e33;
  color: #857871;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.question {
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
}

.invite-to-form {
  line-height: 24px;
  padding: 45px;
}

.form-btn {
  display: block;
  outline: none;
  border: none;
  background-color: #766357;
  cursor: pointer;
  padding: 20px 188px;
}

.form-btn:hover {
  background-color: #604e43;
}

.form-btn:active {
  color: #857871;
  background-color: #503e33;
}

.link:hover {
  color: #81b3d2;
}

.link:active {
  color: #b2b2b2;
}

.link:visited {
  color: inherit;
}

.link:visited:hover {
  color: #81b3d2;
}

.link:visited:active {
  color: #b2b2b2;
}

.title-white {
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.numbers {
    line-height: 26px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

.small-headline {
  padding: 30px 70px 60px;
}

.small-headline-white {
  color: #ffffff;
  padding: 5px 50px;
}

.link {
  text-decoration-line: none;
}

.number::before {
  content: "-";
}

.number::after {
  content: "-";
}

.searching-form {
  line-height: 26px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 316px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 #333333;
}

.form-element {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 35px 50px 0 0;
}

.form-element:nth-of-type(3) {
  padding-right: 0px;
}

.form-element:last-of-type {
  padding-right: 0;
  padding-left: 53px;
  margin-left: 15px;
}

.change-quantity-children {
  display: flex;
}

.change-quantity-adults {
  display: flex;
  padding-left: 20px;
}

.search-button {
  display: block;
  padding: 20px 207px;
  background-color: #81b3d2;
  cursor: pointer;
  margin: 55px auto;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.date-form {
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  line-height: 26px;
  padding: 5px 195px 5px 5px;
  cursor: pointer;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.date-form:hover {
  background-color: #ebebeb;
  background-image: url("../img/calendar.svg");
}

.date-form:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  background-image: url("../img/calendar-focus.png");
}

.volume {
  display: block;
  border: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.volume:hover {
  color: #000000;
}

.volume:active {
  color: #81b3d2;
}

.adults, .children {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  font-weight: bold;
  outline: none;
}

.reservation-form {
  background-image: url(../img/index-map.jpg);
  background-repeat: no-repeat;
  padding-bottom: 200px;
}

/*******************************

           FOOTER

*********************************/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 23px 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0px;
}

.footer-social {
  display: flex;
  list-style: none;
}

.social-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: 10px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
  color: #89b6cf;
}

.social-twitter {
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-facebook {
  background-image: url("../img/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-youtube {
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.website {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 115px;
  height: 41px;
}

.website:hover {
  background-image: url("../img/logo-hover.png");
}

.website:active {
  background-image: url("../img/logo-active.png");
}

.final {
  min-width: 210px;
  display: flex;
  justify-content: space-around;
}

.creater {
  align-self: center;
}

/*******************

       SHOP

********************/

.header-shop-img {
  display: block;
  width: 1200px;
  min-height: 217px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: 85% 20%;
  position: absolute;
  z-index: -1;
}

.selection-hotel {
  display: flex;
  flex-direction: column;
}

.hotel-searching-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 217px;
}

.criterion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}

.criterion:last-of-type {
  align-items: center;
}

.criterion:nth-child(3) .selection-criterion {
  align-self: flex-start;
}

.infrastructure-selection-checkbox {
  display: flex;
  flex-direction: column;
}

.result-found {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 75px;
  border-bottom: 1px solid #e2e2e2;
}

.checkbox {
  background-image: url("../img/checkbox-off.svg");
}

.selection-criterion {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.selection-item {
  display: flex;
  color: white;
  align-items: center;
}

.selection-form {
  display: flex;
  flex-wrap: nowrap;
}

.diapason-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.label {
  padding-right: 20px;
  padding-left: 55px;
}

.label-shop {
  color: white;
}

.price-range {
  width: 314px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}

.range {
  width: 317px;
}

.price-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-button {
  color: white;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 133px;
  height: 32px;
  background-color: transparent;
}

.strong {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.show-criterion {
  display: flex;
  align-items: center;
}

.search-result {
  display: flex;
  flex-direction: column;
}

.innery-item {
  display: flex;
}

.raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.found-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  border-bottom: 1px solid #e2e2e2;
  padding: 0 75px;
}

.found-item:first-child {
  border-top: 1px solid #e2e2e2;
}

.more-info {
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  padding: 5px 17px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.parameters {
  display: flex;
  flex-direction: column;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.find-criterion {
  display: flex;
  justify-content: space-between;
}

.sorting-item {
  list-style: none;
  margin-right: 35px;
}

.sorting-item-button {
  border: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item-button:hover {
  color: #81b3d2;
}

.sorting-item-button:active {
  color: #000000;
  border: none;
}

.stars {
  display: flex;
}

.star {
  color: transparent;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.sorting-up-dir {
  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  border: none;
  width: 11px;
  height: 10px;
}

.sorting-up-dir:hover {
  background-image: url("../img/icon-up-dir-hover.png");
}

.sorting-up-dir:active {
  background-image: url("../img/icon-up-dir-active.png");
}

.sorting-down-dir {
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  border: none;
  width: 11px;
  height: 10px;
}

.sorting-down-dir:hover {
  background-image: url("../img/icon-down-dir-hover.png");
}

.sorting-down-dir:active {
  background-image: url("../img/icon-down-dir-active.png");
}

.footer-shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 23px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
