@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff) format ("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff2) format ("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff) format ("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff2) format ("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}

/*


         HEADER


*/


.navigation-menu {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  max-height: 56px;
  align-items: stretch;
  justify-content: center;

}

.navigation-item {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background: white;
  list-style: none;
  margin: auto;
  max-width: 244px;
}

.navigation-link {
  display: block;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:active {
  color: #b2b2b2;
}

.header {
  display: block;
  width: 1200px;
  min-height: 565px;
  background-image: url("../img/index-background-border.png"), url("../img/intro.jpg");
  background-size: auto, auto;
  background-repeat: no-repeat;
  background-position: 50% bottom, 100% top;
}

.header-logo {
  display: block;
  background-image: url("../img/header-logo.png");
  background-repeat: no-repeat;
  background-position: top;
}

/*
.index-link {
  position: relative;
  left: 483px;
  bottom: 72px;
  width: 244px;
  height: 36px;
} */

/*


         MAIN


*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 194px;
}

.strong.index-title {
  width: 440px;
  text-align: center;
}

.index-title {
  text-align: center;
}

.town {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  text-align: center;
}

.town-image {
  display: block;
  position: relative;
  left: 400px;
  bottom: 256px;
}

.list-of-services {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 256px;
  position: relative;
  bottom: 256px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 256px;
}

.house-icon {
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.burger-icon {
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.gift-icon {
  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.title {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.item-title {
  width: 340px;
  text-align: center;
}

.devil-image {
  display: block;
  width: 800px;
  height: 256px;
  position: relative;
  bottom: 256px;
}

.devil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  text-align: center;
  position: relative;
  left: 800px;
  bottom: 512px;
}

.advantages {
  position: relative;
  bottom: 512px;
  background-color: #eeeeee;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 1200px;
  height: 256px;
  text-align: center;
  position: relative;
  bottom: 512px;
  padding-top: 40px;
}

.big-strong {
  font-size: 30px;
  line-height: 36px;
}

.invite-to-form {
  font-size: 14px;
  line-height: 24px;
  max-width: 550px;
}

.link:visited {
  color: inherit;
}

.link:visited:hover {
  color: #81b3d2;
}

.link:visited:active {
  color: #b2b2b2;
}

<<<<<<< HEAD .header {
  display: block;
  width: 1200px;
  height: 800px;
  background: url("../img/intro.jpg"), url("../img/index-background-border.png");
  background-repeat: no-repeat;
}

=======>>>>>>>f8f426fffbe57c0551d0a330efc802800709a839 .header-shop {
  display: block;
  width: 1200px;
  height: 800px;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.form {
  font-size: 14px;
  font-weight: bold;
}

.strong {
  font-size: 21px;
  font-weight: bold;
}

.title-white {
  text-transform: uppercase;
  color: white;
  width: 120px;
}

.second-line {
  padding-top: 10px;
  color: #333333;
}

.small-headline {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
  max-width: 260px;
  text-align: center;
}

.small-headline-white {
  color: white;
  width: 270px;
  font-size: 14px;
  line-height: 21px;
}

.footer-social {
  list-style: none;
}

.link {
  text-decoration-line: none;
}

.sorting-item, .selection-item {
  list-style: none;
}

.number::before {
  content: "-";
}

.number::after {
  content: "-";
}

.star {
  color: transparent;
  background: url("../img/star.svg") no-repeat;
}

.sorting-dir {
  display: block;
}

.sorting-up-dir {
  height: 15px;
  background: url("../img/icon-up-dir.svg") no-repeat;
  background-color: transparent;
  border: none;
}

.sorting-down-dir {
  height: 15px;
  background: url("../img/icon-down-dir.svg") no-repeat;
  background-color: transparent;
  border: none;
}

.form-btn {
  outline: none;
  position: relative;
  top: 10px;
  border: none;
  display: block;
  width: 568px;
  height: 86px;
  background-color: #766357;
  cursor: pointer;
}

.form-btn:hover {
  outline: none;
  border: none;
  display: block;
  width: 568px;
  height: 86px;
  background-color: #604e43;
}

.form-btn:active {
  outline: none;
  border: none;
  display: block;
  width: 568px;
  height: 86px;
  color: #857871;
  background-color: #503e33;
}

.searching-form {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 315px;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 568px;
  height: 395px;
}

.search-button {
  outline: none;
  display: block;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  cursor: pointer;
}

.search-button:hover {
  outline: none;
  display: block;
  width: 458px;
  height: 58px;
  background-color: #669ec0;
}

.search-button:active {
  outline: none;
  display: block;
  width: 458px;
  height: 58px;
  background-color: #5496bd;
  color: #88b6d1;
}

.date-form {
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
  /* background-image: url("../img/calendar.svg"); */
  /* background-repeat: no-repeat; */
  /* background-position: ; */
}

.date-form:hover {
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 38px;
  background-color: #ebebeb;
  border: none;
  padding-left: 10px;
  font-weight: bold;
}

.date-form:focus {
  outline: none;
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 38px;
  background-color: #ffffff;
  border: none;
  padding-left: 10px;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

.volume {
  display: block;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.adults, .children {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  padding-left: 10px;
  font-weight: bold;
  outline: none;
}

.map {
  background-image: url("../img/index-map.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 590px;
  position: relative;
  bottom: 512px;
}

/*



           FOOTER



*/

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 1200px;
  height: 120px;
  position: relative;
  bottom: 630px;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.visitsedona {
  position: relative;
  top: 25px;
  left: 132px;
  bottom: 54px;
}

.social-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: center;
  margin-right: 10px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
  color: #89b6cf;
}

.social-twitter {
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-facebook {
  background-image: url("../img/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-youtube {
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.website {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 41px;
}

.checkbox {
  background-image: url("../img/checkbox-off.svg");
}

.selection-criterion {
  display: flex;
  flex-direction: row;
}
