@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff) format ("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsans.woff2) format ("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff) format ("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/web/ptsansbold.woff2) format ("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
}

body {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px 0 #000000;
}

.hidden {
  display: none;
}

/**********************


         HEADER

*********************/

.header {
  min-height: 565px;
  background-image: url(../img/index-background-border.png), url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-position: 50% bottom, 100% top;
}

.navigation-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  background-color: white;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  width: 240px;
}

.nav-item:nth-child(2) {
  margin-right: 240px;
}

.link {
  display: block;
  text-decoration-line: none;
  padding: 16px 0;
}

.link:hover {
  color: #81b3d2;
}

.link:active {
  color: #b2b2b2;
}

.link:visited {
  color: #000000;
}

.link:visited:hover {
  color: #81b3d2;
}

.link:visited:active {
  color: #b2b2b2;
}

.active-page {
  color: #766357;
}

.header-logo {
  background-image: url("../img/header-logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 138px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

/***********************

         MAIN

***************************/

.what-is-sedona {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.bold {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.index-title, .paragraph {
  padding: 0px 350px;
  text-align: center;
}

.paragraph {
  color: #696969;
}

.advertising {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

.blue-card {
  background-color: #81b3d2;
  color: #ffffff;
}

.gray-card {
  background-color: #eeeeee;
}

.feature-card-title {
  line-height: 26px;
  font-weight: bold;
}

.card-description {
  padding: 4px 70px;
}

.title {
  margin: 30px 0;
}

.feature-card-icon {
  margin-top: 15px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.house {
  background-image: url("../img/house-icon.svg");
}

.burger {
  background-image: url("../img/burger-icon.svg");
}

.gift {
  background-image: url("../img/gift-icon.svg");
}

.second-row {
  margin-bottom: 37px;
}

.card-number {
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}

.card-number::before {
  content: "-";
}

.card-number::after {
  content: "-";
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question {
  font-size: 30px;
  line-height: 36px;
  margin-top: 50px;
}

.invite-to-form {
  line-height: 24px;
  margin: 43px 400px;
}

.searching-form-button {
  display: block;
  outline: none;
  border: none;
  background-color: #766357;
  cursor: pointer;
  padding: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  width: 568px;
}

.searching-form-button:hover {
  background-color: #604e43;
}

.searching-form-button:active {
  color: #857871;
  background-color: #503e33;
}

/* Форма */

.map {
  background-image: url(../img/index-map.jpg);
  background-repeat: no-repeat;
  padding-bottom: 198px;
}

.searching-form {
  visibility: hidden;
  box-sizing: border-box;
  width: 568px;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 54px;
  box-shadow: 0 5px 15px 0 #000000;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.searching-form-show {
  display: block;
  visibility: visible;
  animation: bounce 1s;
}

.form-row {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
}

.enter-row-description {
  margin-right: 20px;
  white-space: nowrap;
}

.exit-row-description {
  margin-right: 17px;
  white-space: nowrap;
}

.label-adults {
  margin-right: 35px;
}

.label-children {
  margin-right: 25px;
}

.date-form {
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  line-height: 26px;
  width: 346px;
  padding: 6px 0px 6px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.icon-calendar {
  margin-left: -30px;
  fill: #cacaca;
}

.icon-calendar:hover {
  fill: #000000;
}

.icon-calendar:active {
  fill: #81b3d2;
}

.date-form:hover {
  background-color: #ebebeb;
}

.date-form:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  padding: 4px 0px 4px 5px;
  outline: none;
}

.guests-quantity {
  display: flex;
  justify-content: space-between;
}

.change-quantity-children {
  display: flex;
}

.change-quantity-adults {
  display: flex;
}

.volume {
  display: block;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  padding: 0 16px;
}

.volume:hover {
  color: #000000;
}

.volume:active {
  color: #81b3d2;
}

.adults, .children {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  font-weight: bold;
  outline: none;
}

.search-button {
  display: block;
  padding: 20px 207px;
  background-color: #81b3d2;
  cursor: pointer;
  margin-top: 25px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

/*******************************

           FOOTER

*********************************/

.footer {
  display: flex;
  align-items: center;
  padding: 36px 100px 36px 130px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -120px;
}

.footer-social {
  display: flex;
  list-style: none;
  margin: auto;
}

.social-item {
  display: flex;
  margin-right: 10px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-item:active .social-icon {
  fill: #88b6d1;
}

.social-icon {
  margin: auto;
  fill: #ffffff;
}

.creater {
  display: flex;
}

.creater-span {
  align-self: center;
  margin-right: 5px;
}

.logo-htmlacademy {
  fill: #231f20;
  margin-top: 5px;
  margin-left: 5px;
}

.logo-htmlacademy:hover {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
}

/*****************************************************************************

                                   SHOP

*****************************************************************************/

.selection-hotel {
  display: flex;
  flex-direction: column;
}

.header-shop-img {
  display: block;
  width: 1200px;
  min-height: 217px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 85% 20%;
  position: absolute;
  z-index: -1;
}

.hotel-searching-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.criterion {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.criterion:first-of-type {
  flex-basis: 25%;
  margin-left: 73px;
}

.criterion:nth-of-type(2) {
  flex-basis: 20%;
  margin-right: 200px;
}

.criterion:last-of-type {
  align-items: center;
  flex-basis: 50%;
  justify-content: space-between;
}

.selection-criterion {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.selection-item {
  display: flex;
  color: white;
  align-items: center;
  padding-top: 25px;
}

.label-shop {
  color: white;
}

.checkbox-checked {
  background-image: url("../img/checkbox-on.svg")
}

.checkbox {
  background-image: url("../img/checkbox-off.svg");
}

.cost {
  margin-right: 135px;
}

.price-range {
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 0 50px 0 70px;
}

.diapason {
  margin: 5px auto;
}

.diapason:first-child::after {
  content: "|";
  font-size: 22px;
  padding: 0 50px 0 60px;
}

.range {
  width: 317px;
}

.submit-button {
  text-transform: uppercase;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px 35px;
  background-color: transparent;
}

.submit-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-result {
  display: flex;
  flex-direction: column;
}

.result-found {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 73px;
  border-bottom: 1px solid #e2e2e2;
}

.show-criterion {
  display: flex;
  align-items: center;
}

.sorting {
  padding-left: 45px;
}

.find-criterion {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

.sorting-item {
  list-style: none;
  margin-right: 35px;
}

.sorting-item-button {
  border: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item-button:hover {
  color: #81b3d2;
}

.sorting-item-button:active {
  color: #000000;
  border: none;
}

.by-cost {
  border: none;
  color: #81b3d2;
}

.sorting-up-dir {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  fill: #cacaca;
  border: none;
  width: 11px;
  height: 10px;
}

.sorting-up-dir:hover {
  fill: #ffffff;
}

.sorting-up-dir:active {
  fill: #81b3d2;
}

.sorting-down-dir {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  border: none;
  margin-left: 5px;
  width: 11px;
  height: 10px;
}

.sorting-down-dir:hover {
  fill: #ffffff;
}

.sorting-down-dir:active {
  fill: #81b3d2;
}

.found-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding: 30px 73px;
}

.found-item:first-child {
  border-top: 1px solid #e2e2e2;
}

.innery-item {
  display: flex;
}

.hotel-image {
  align-self: center;
}

.parameters {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
}

.hotel-name {
  margin: 0;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.price {
  margin: 12px 0;
}

.hotel-type {
  padding-right: 20px;
}

.more-info {
  margin-right: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  padding: 5px 17px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.reserve-btn {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  padding: 5px 18px;
}

.reserve-btn:hover {
  background-color: #604e43;
}

.reserve-btn:active {
  background-color: #503e33;
  color: #857871;
}

.raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.stars {
  display: flex;
  margin-bottom: 45px;
}

.star {
  color: transparent;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 18px;
  height: 17px;
}

.grade {
  background-color: #f2f2f2;
  padding: 3px 15px;
}

.footer-shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 36px 100px 36px 130px;
  background-color: rgba(255, 255, 255, 0.8);
}
